#include <__pink/pinkres.h>
#include <windows.h>

/*
#if defined(UNDER_CE)
	#include <winbase.h>
#else
	#include <winver.h>
#endif

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 10,0,8,6
	PRODUCTVERSION 10,0,8,6
	FILEFLAGSMASK 0x3fL

#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif

	FILEOS VOS__WINDOWS32
	FILETYPE VFT_APP
	FILESUBTYPE 0x0L
{
	BLOCK "StringFileInfo"
	{
		BLOCK "080404b0"
		{
			VALUE "CompanyName", "Nine Star Alliance."
			VALUE "FileDescription", "White Hat GUI"
			VALUE "FileVersion", "10.0.8.6"
			VALUE "InternalName", "Jleap(WH).exe"
			VALUE "LegalCopyright", "Copyright (C) Free Software Foundation, Inc."
			VALUE "OriginalFilename", "jleap.exe"
			VALUE "ProductName", "jleap(WH)"
			VALUE "ProductVersion", "10.0.8.6"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x804, 1200
	}
}
*/
///////////////////////////////////////////////////////////////////////////////////////

// ----	ICON ----
//windres picon.rc picon.o
//PI_wucai ICON DISCARDABLE "1.ico"
PI_WH ICON DISCARDABLE "2.ico"
//PI_yellow_chrome ICON DISCARDABLE "3.ico"

// ----	MENU ----
PM_STDM MENU DISCARDABLE
{
	POPUP "功能"
	{
		MENUITEM "判断闰年",		STDM_DOIT_1	CHECKED
	}
/*	POPUP "文件"
	{
		MENUITEM "新建",		STDM_FILE_1	GRAYED
		MENUITEM "打开",		STDM_FILE_2	GRAYED
		POPUP "打开所在文件夹"
		{
			MENUITEM "文件管理器",		STDM_FILE_3C1	GRAYED
			MENUITEM "命令行",		STDM_FILE_3C2	GRAYED
		}
		MENUITEM "保存",		STDM_FILE_4	GRAYED
		MENUITEM "另存为...",		STDM_FILE_5	GRAYED
		MENUITEM "重命名...",		STDM_FILE_6	GRAYED
		MENUITEM "退出",		STDM_FILE_7	GRAYED
	}
*/
	POPUP "编辑"
	{
		MENUITEM "16进制",		STDM_EDIT_1	GRAYED
		MENUITEM "二进制",		STDM_EDIT_2	GRAYED
	}
	POPUP "视图"
	{
		MENUITEM "总在最前",		STDM_SHTU_1
		MENUITEM "切换全屏模式",	STDM_SHTU_2
		MENUITEM SEPARATOR
		POPUP "字体"
		{
			MENUITEM "默认字体",		STDM_SHTU_3C1
			MENUITEM "Times New Roman",	STDM_SHTU_3C2
			MENUITEM "Verdana",		STDM_SHTU_3C3
			MENUITEM "黑体",		STDM_SHTU_3C4
			MENUITEM "楷体",		STDM_SHTU_3C5
			MENUITEM SEPARATOR
			MENUITEM "more",		STDM_SHTU_3C6
		}
		POPUP "字体大小"
		{
			MENUITEM "0.35 cm",		STDM_SHTU_4C1
			MENUITEM "0.40 cm",		STDM_SHTU_4C2
			MENUITEM "0.45 cm",		STDM_SHTU_4C3
			MENUITEM "0.49 (default)",	STDM_SHTU_4C4
			MENUITEM "0.55 cm",		STDM_SHTU_4C5
			MENUITEM "0.60 cm",		STDM_SHTU_4C6
			MENUITEM "0.65 cm",		STDM_SHTU_4C7
			MENUITEM "0.70 cm",		STDM_SHTU_4C8
			MENUITEM "0.75 cm",		STDM_SHTU_4C9
			MENUITEM "0.80 cm",		STDM_SHTU_4C10
			MENUITEM "0.90 cm",		STDM_SHTU_4C11
			MENUITEM "1.00 cm",		STDM_SHTU_4C12
			MENUITEM "1.15 cm",		STDM_SHTU_4C13
			MENUITEM "1.33 cm",		STDM_SHTU_4C14
			MENUITEM "2.50 cm",		STDM_SHTU_4C15
		}
		POPUP "主题颜色"
		{
			MENUITEM "默认黑",		STDM_SHTU_5C1
			MENUITEM "少女粉",		STDM_SHTU_5C2
			MENUITEM "姨妈红",		STDM_SHTU_5C3
			MENUITEM "咸蛋黄",		STDM_SHTU_5C4
			MENUITEM "早苗绿",		STDM_SHTU_5C5
			MENUITEM "胖次蓝",		STDM_SHTU_5C6
			MENUITEM "基佬紫",		STDM_SHTU_5C7
			MENUITEM "EMT紫",		STDM_SHTU_5C8
		}
	}
	POPUP "Init"
	{
		MENUITEM "命令行",		STDM_INIT_1
		MENUITEM "桌面",		STDM_INIT_2
		MENUITEM "锁屏",		STDM_INIT_7
		MENUITEM SEPARATOR
		POPUP "关机"	MENUBARBREAK
		{
			POPUP "延时一分钟"
			{
				MENUITEM "确定",		STDM_INIT_3C1C1
			}
			MENUITEM SEPARATOR
			POPUP "立即关机"
			{
				MENUITEM "确定",		STDM_INIT_3C2C1
			}
			MENUITEM SEPARATOR
			MENUITEM SEPARATOR
			MENUITEM SEPARATOR
			POPUP "保存所有工作"
			{
				MENUITEM "确定",		STDM_INIT_3C3C1
			}
		}
		POPUP "重启"
		{
			POPUP "延时一分钟"
			{
				MENUITEM "确定",		STDM_INIT_4C1C1
			}
			MENUITEM SEPARATOR
			POPUP "立即重启"
			{
				MENUITEM "确定",		STDM_INIT_4C2C1
			}
		}
		POPUP "高级重启"
		{
			POPUP "延时一分钟"
			{
				MENUITEM "确定",		STDM_INIT_5C1C1
			}
			MENUITEM SEPARATOR
			POPUP "立即重启"
			{
				MENUITEM "确定",		STDM_INIT_5C2C1
			}
		}
		POPUP "退出登录"
		{
			POPUP "立即退出"
			{
				MENUITEM "确定",		STDM_INIT_6C1C1
			}
		}
	}
	POPUP "Help"
	{
		MENUITEM "Search with Baidu",	STDM_HELP_1
		MENUITEM "Search with Bing",	STDM_HELP_2
		MENUITEM "Search with Google",	STDM_HELP_3
		MENUITEM SEPARATOR
		POPUP "联系作者"
		{
			POPUP "作者不在 ε = = (づ′▽`)づ"
			{
				MENUITEM "真的不在ヽ（≧□≦）ノ",		STDM_HELP_4CC1	GRAYED
			}
		}
		MENUITEM "错误反馈",		STDM_HELP_5
	}
	POPUP "更多"
	{
		MENUITEM "获取管理员权限",	STDM_ADMIN_1
		MENUITEM SEPARATOR
		POPUP "后备隐藏能源"
		{
			MENUITEM "启动",		STDM_ADMIN_2C1
		}
		MENUITEM SEPARATOR
		MENUITEM "开源",		STDM_ADMIN_3
	}
}

// ----	DIALOG ----
PD_Ask_Author DIALOG DISCARDABLE 50, 50, 318, 88
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Oh No!"
FONT 10, "MS Sans Serif"
{
	DEFPUSHBUTTON	"确定",	1,	250,18,50,14
	PUSHBUTTON	"OK",	1,	250,36,50,14
	PUSHBUTTON	"Yes",	1,	250,54,50,14
	GROUPBOX	"Sorry...",-1,	7,7,300,72
	CTEXT		"The Author is not online now. Please try angin years later.",	-1,	16,18,144,33
}